.details-project {
  margin-bottom: 20px;
}
.details-project h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
.img-holder img {
  width: 50%;
}

input[type="email"] {
  width: 69%;
  border: 1px solid #e0dede;
  border-radius: 5px;
}

.text-section p {
  width: 48%;
  font-weight: bold;
  font-size: 13px;
  margin-top: 18px;
}
.r-date,
.l-date {
  display: inline-block;
  font-weight: bold;
}

.l-date {
  margin-right: 25px;
}

.details-project label {
  font-size: 14px;
}
